.flag-list{
   padding: 0px;
   margin: 0px;
   list-style: none;
   margin-top: 100px;
}
.flag-item{
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.flag-content{
   width: 100%;
   max-width: 600px;
   /* margin-left: 120px; */
}
.flag-box{
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
}
.flag__title{
   font-weight: 800;
   font-size: 32px;
   line-height: 44px;
   color: #111517;
   margin: 0px;
   margin-bottom: 23px;
}
.flagbtn-box{
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   margin-top: 70px;
}
.flag-btn{
   padding: 5px 18px;
   margin-left: 15px;
   border: none;
   background: #FFFFFF;
   box-shadow: 0px 0px 4px 1px #0000001b;
   border-radius: 2px;
}
.flagbtn-title{
   font-weight: 600;
   font-size: 16px;
   line-height: 24px;
   color: #111517;
}
.flag-img{
   background: #808080;
   box-shadow: 0px 0px 14px 4px #00000007;
   border-radius: 10.0057px;
}
.flag__text{
   font-weight: 500;
   font-size: 16px;
   line-height: 114%;
   color: #111517;
   margin: 0px;
   padding: 0px;
   margin-bottom: 15px;
}

.flag__str{
   font-weight: 600;
   font-size: 18px;
   line-height: 114%;
   color: #111517;
   margin: 0px;
   padding: 0px;
}
.fox-box{
   width: 100%;
   max-width: 300px;
}
.back{
   position: relative;
   margin-top: 80px;
   border: none;
   padding: 10px 39px 10px 60px;
   background: #FFFFFF;
   box-shadow: 0px 0px 7px #0000004b;
   border-radius: 6px;
   font-weight: 300;
   font-size: 16px;
   line-height: 20px;
   color: #111517;
}
.back::before{
   position: absolute;
   background-image: url("../../assets/images/call-made.svg");
   background-repeat: no-repeat;
   background-size: auto;
   width: 20px;
   height: 20px;
   left: 28px;
   top: 9px;
   content: '';
}
@media only screen and (max-width: 1100px){
   .flag-item{
      display: block;
   }
   
   .flag-img{
      display: block;
      margin: 0px auto;
   }
   .flag-content{
      width: 100%;
      max-width: 100%;
   }
   .flag-box{
      display: block;
      margin: 0px auto;
   }
   .fox-box{
      margin-top: 40px;
   }
   .flagbtn-box{
      margin-top: 37px;
   }
   .flag__title{
      font-weight: 800;
      font-size: 22px;
      line-height: 30px;
      margin-top: 24px;
      margin-bottom: 16px;
   }
   .flag__str{
      font-size: 15px;
      line-height: 5px;
   }
   .flag__text{
      font-size: 14px;
   }
   .flagbtn-title{
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
   }
   
}

@media only screen and (max-width: 570px){
   .flag-list{
      margin-top: 60px;
   }
   .flagbtn-box{
      display: block;
      margin-left: 0px;
   }
   .flag-btn{
      margin-left: 0px;
      margin-bottom: 15px;
      margin-right: 10px;
   }
   .back{
      margin-top: 40px;
      font-weight: 300;
      font-size: 14px;
      line-height: 20px;
      color: #111517;
      padding: 6px 23px 6px 50px;
   }
   .back::before{
      position: absolute;
      background-image: url("../../assets/images/call-made.svg");
      background-repeat: no-repeat;
      background-size: auto;
      width: 20px;
      height: 20px;
      left: 18px;
      top: 7px;
      content: '';
   }
   
}