.container{
   width: 100%;
   max-width: 1300px;
   margin: 0px auto;
   padding: 0px 20px;
}
.header{
   background: #FFFFFF;
   box-shadow: 0px 2px 4px #0000000e;
}
.header__content{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 23px 0px 23px 0px;
}
.header__title{
   font-weight: 800;
   font-size: 24px;
   line-height: 33px;
   color: #111517;
   margin: 0px;
   padding: 0px;
}

.header__mode{
   font-weight: 600;
   font-size: 16px;
   line-height: 22px;
   color: #111517;
   margin-left: 8px;
}
