.container{
   width: 100%;
   max-width: 1300px;
   margin: 0px auto;
   padding: 0px 20px;
}
.header{
   background: #FFFFFF;
   box-shadow: 0px 2px 4px #0000000e;
   position: fixed;
   width: 100%;
   z-index: 10;
}
.dark{
   background-color: #333;
   box-shadow: 0px 2px 4px #191919;
   color: #fff;
   position: fixed;
   width: 100%;
   z-index: 10;
}
.header__content{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 23px 0px 23px 0px;
}
.header__title{
   font-weight: 800;
   font-size: 24px;
   line-height: 33px;
   color: #111517;
   margin: 0px;
   padding: 0px;
}
.dark .header__title{
   color: #fff;
}

.header__mode{
   position: relative;
   font-weight: 600;
   font-size: 16px;
   line-height: 22px;
   color: #111517;
   border: none;
   background-color: transparent;
}
.header__mode::before{
   position: absolute;
   width: 20px;
   height: 20px;
   background-image: url("../../assets/images/mode.icon.svg");
   background-repeat: no-repeat;
   background-size: auto;
   left: -26px;
   content: '';
}
.dark .header__mode{
   color: #fff;
}
.lang-sel{
   margin-left: 15px;
   padding: 5px 10px;
   border-radius: 10px;
   background: #FFFFFF;
   box-shadow: 0px 2px 9px #0000000e;
   border-radius: 5px;
   border: none;
   outline: none;
}
@media only screen and (max-width: 450px){
   .header__content{
      padding: 30px 0px 30px 0px;
   }
   .header__title{
      font-weight: 800;
      font-size: 14px;
      line-height: 20px;
      color: #111517;
   }
   .header__mode{
      font-weight: 600;
      font-size: 12px;
      line-height: 16px;
   }
   .header__mode::before{
      position: absolute;
      width: 20px;
      height: 20px;
      background-image: url("../../assets/images/mode.icon.svg");
      background-repeat: no-repeat;
      background-size: auto;
      top: -3px;
      left: -20px;
      content: '';
   }
}
