.container{
   width: 100%;
   max-width: 1300px;
   margin: 0px auto;
   padding: 0px 20px;
}

.search__form{
   position: relative;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 48px 0px 48px 0px;
}

.search__form::before{
   position: absolute;
   width: 18px;
   height: 18px;
   background-image: url("../../assets/images/search.svg");
   background-repeat: no-repeat;
   background-size: auto;
   left: 30px;
   content: '';
}